<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="https://cdn.pixabay.com/photo/2024/05/18/08/16/cat-8769861_1280.jpg" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">LeeSangHo</h1>
        <p>
          Hi, I'm sangho Lee.
        </p>
      </div>
    </div>
  </div>
</main>
